Forensic/App/migrations/__pycache__/0013_documentforgery_word_count.cpython-312.pyc
Forensic/App/__pycache__/models.cpython-312.pyc
Forensic/App/__pycache__/models.cpython-312.pyc
Forensic/App/migrations/__pycache__/0013_documentforgery_word_count.cpython-312.pyc
*.pyc
Forensic/App/migrations/0013_documentforgery_word_count.py
Forensic/App/models.py
